/.idea/

.vscode/settings.json

*.*~

# LLM
.reasonix
.pi
.mcp.json
.cursor/mcp.json
.gemini/settings.json
.kiro/settings/mcp.json
opencode.jsonc
opencode.json
.tempest
.tempest-pid
graphify-out
labels.json
.agents
.mcp.json
.codegraph
