#portfolio
{
    background-color: #3254B0;
    color: white;
    font-family: 'Poppins', Verdana, sans-serif;
    padding: 100px 50px;
    text-align: center;
}

#header
{
    font-size: 2em;
    font-weight: bold;
    padding: 5px 0px;
}

#sub-header
{
    font-weight: bold;
    font-size: 3em;
}

iframe
{
    max-width: 100%;
    max-height: 100%;
    transition-duration: 0.4s;
    border-radius: 15px;
    border: none;             /* Remove frameborder due to obsolete by HTML checker */
}

iframe:hover
{
    opacity: 0.8;
}

.image-container { padding: 30px 0px; }

.title-text { padding-top: 20px; }

p
{
    font-size: 1.3em;
    margin: 20px 100px;
}