html,
body {
  height: 100%;
  margin: 0;
}

#preloader {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#preloader img {
  animation: 1s ease-in-out 0s infinite alternate breathe;
  transition: opacity .4s;
}

#preloader.main_done img {
  opacity: 1;
}

#preloader.init_done img {
  animation: .33s ease-in-out 0s 1 forwards zooooom;
  opacity: .05;
}

@keyframes breathe {
  from {
    transform: scale(1)
  }

  to {
    transform: scale(0.95)
  }
}

@keyframes zooooom {
  from {
    transform: scale(1)
  }

  to {
    transform: scale(10)
  }
}