@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '../components/components.css';

@custom-variant dark (&:where(.dark, .dark *, [data-theme='dark'], [data-theme='dark'] *));

@theme inline {
  --font-sans: var(--font-fira-sans);
  --font-mono: var(--font-fira-code);
  --font-cursive: var(--font-cookie);
  --color-grey: #2e2e2e;
  --color-white: #ffffff;
  --color-blue: #0494df;
  --color-blue-light: #8dd9ff;
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-background: var(--primary-background);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-background: var(--secondary-background);
  --animate-marquee: marquee 50s linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root,
[data-theme='light'] {
  --primary-foreground: #2e2e2e;
  --primary-background: #ffffff;
  --secondary-foreground: #0494df;
  --secondary-background: #ffffff;
  --radius: 0.625rem;
  color-scheme: light;
}

.dark,
[data-theme='dark'] {
  --primary-foreground: #ffffff;
  --primary-background: #2e2e2e;
  --secondary-foreground: #8dd9ff;
  --secondary-background: #2e2e2e;
  color-scheme: dark;
}

@layer base {
  body {
    @apply bg-primary-background text-primary-foreground;
  }
  html {
    @apply font-sans;
  }
  h1 {
    font-size: 2.55em;
  }
  h2 {
    font-size: 2.3em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.6em;
  }
  h5 {
    font-size: 1.5em;
  }
  h6 {
    font-size: 1.4em;
  }
  p,
  a {
    font-size: 1.1em;
  }
}
